.header {
    max-height: 215px;
    height: 15vw;
    font-size: .75em;
    background-image: url(../../img/header-bg.jpg);
    background-size: auto 100%;
    background-repeat: repeat;
}

@media only screen and (max-width: 768px) {
    .header {
        height: 17vw;
    }
}

@media only screen and (max-width: 768px) {
    .header-mobile {
        display: block!important;
    }
    .header_computer{
        display: none!important;
    }
}

.header-mobile {
    display: none;
}

.header .header__column {
    flex: 1;
}

.header .header__column.header__column--center {
    position: relative;
}

.img {
    display: inline-block;
    font-size: 0;
}

a,
a img {
    cursor: pointer;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: #1c1c1c;
}

.header__buttons>div {
    margin-left: .5em;
    margin-right: .5em;
}

.img img {
    max-width: 100%;
}

@media screen and (max-width:768px) {}

.btn-search {
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    height: 50px;
    width: 50px;
    max-width: none;
    min-width: 0;
    top: 50%;
    transform: translateY(-50%);
}

.form-field:last-child {
    margin-bottom: 0;
}

input[type=email],
input[type=password],
input[type=tel],
input[type=text],
select {
    border-radius: 4px;
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #e8e0e4;
    width: 100%;
}

.box-order {
    font-size: 10px;
    position: relative;
    right: 8px;
    top: 5px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #e7dbe2;
    align-items: center;
    padding: 3px;
}