


.badge--flowers {
    background-image: url(../../img/badge-flowers.jpg);
    background-size: cover;
    background-repeat: repeat;
    margin-bottom: calc(var(--index)*2);
    padding: calc(var(--index)*1.5);
    font-size: 1.1em;
}
.badge__text {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.badge__title {
    margin-bottom: 0.5em;
    font-size: 1.75em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .05em;
}




p {
    margin-bottom: 15px;
}

.block-about {
    padding-top: 3em;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}