.footer,
.footer a {
    color: #fff;
}
@media only screen and (max-width: 480px){
.footer {
    font-size: 1.1em;
}
}
.footer {
    font-size: .8em;
    padding: 3em 0;
    line-height: 1.5;
    background: #181818;
}




