.footer,
.footer a {
    color: #fff;
}
@media screen and (max-width:768px) {
    .footer {
        font-size: 1.6em!important;
    }
}
.footer {
    font-size: .8em;
    padding: 3em 0;
    line-height: 1.5;
    background: #181818;
}



