.block-top {
    background-image: url(../../img/block-top.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 0;
    position: relative;
    padding: 0;
    height: 600.297px;
}

.block-top>* {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.block-top .block-top__badge-box {
    padding-bottom: 4em;
}

.block-top .block-top__badge-box .block-top__badge {
    width: 100%;
    max-width: 450px;
    max-width: calc(24vh + 24vw);
    font-size: 1.25em;
    color: #fff;
}





.flex-1 {
    flex: 1;
}

@media only screen and (max-width: 768px) {
    .block-top:not(.category) .block-top__badge-box {
        margin-top: 10vh;
        font-size: 1.8em;
        color: #fff;
        
    }
    .block-top:after {
        content: "";
        display: block;
        
    }
  
}



@media only screen and (max-width: 768px) {
    .block-top:not(.category)>* {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }
}

@media only screen and (max-width: 768px) {
    .block-top:not(.category):before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
       
    }
}
@media only screen and (max-width: 768px) {
.block-top {
    background-image: url(../../img/block-top-768.jpg)!important;
   
}
}
@media only screen and (max-width: 575px){
    .block-top .block-top__badge-box .block-top__badge {
        max-width: 65%;
    }
}
