.block-top {
    background-image: url(../../img/block-top.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 0;
    position: relative;
    padding: 0;
}

.block-top>* {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.block-top .block-top__badge-box {
    padding-bottom: 4em;
}

.block-top .block-top__badge-box .block-top__badge {
    width: 100%;
    max-width: 450px;
    max-width: calc(24vh + 24vw);
    font-size: 1.25em;
}

.block-top:not(.category):before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;
    background: linear-gradient(270deg, #fefefe, #fefefe 38.86%, hsla(0, 0%, 99.6%, .76) 65.12%, hsla(0, 0%, 99.6%, 0));
}

.block-top:after {
    content: "";
    display: block;
    padding-top: 49.17%;
}

.flex-1 {
    flex: 1;
}

@media only screen and (max-width: 768px) {
    .block-top:not(.category) .block-top__badge-box {
        margin-top: 10vh;
        font-size: 1.6em;
        color:#fff;
        display:none;
    }
}

/* @media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
} */

@media only screen and (max-width: 768px) {
    .block-top:not(.category)>* {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }
}